%h2 Bulk Watering

.container.p-3.bg-primary-subtle.rounded
 %form{method: :get}
  %h4 Filter
  .input-group.mb-3
   %span.input-group-text Locations
   - @locations.each do |loc|
    %input.btn-check{type: :checkbox, id: "btnLocation#{loc[:id]}", name: "location#{loc[:id]}", checked: params.include?("location#{loc[:id]}")}
    %label.btn.btn-outline-primary{for: "btnLocation#{loc[:id]}"}
     =loc[:name]
  %label{for: 'within_watering_days'}
   %span#watering_days_label Needs water today (or past-due)
  %input.form-range#within_watering_days{type: :range, min: 0, max: 7, value: @within_watering_days, name: :within_watering_days, onInput: 'updateWateringDaysText();'}
  %label{for: 'not_checked_in'}
   %span#not_checked_in_label and hasn't been checked yesterday or today
  %input.form-range#not_checked_in{type: :range, min: 0, max: 7, value: @not_checked_in_days, name: :not_checked_in, onInput: 'updateNotCheckedInText();'}
  %p.mt-3
   %button.btn.btn-primary{type: :submit}
    Adjust Filter
   %button.btn.btn-outline-secondary{type: :button, onClick: 'this.form.reset(); updateWateringDaysText(); updateNotCheckedInText();'}
    Reset Filters

%form{method: :post}
 %table.table.table-striped
  %thead
   %tr
    %th{scope: 'col'} Location
    %th{scope: 'col'} Plant Type
    %th{scope: 'col'} Name
    %th{scope: 'col'} Watering
    %th{scope: 'col'} Notes
  %tbody
   - plants_to_water = false
   - @plants.each do |plant|
    - next unless plant.last_water_check == nil or plant.last_water_check.days_ago > @not_checked_in_days.to_i
    - next unless plant.last_watered_at == nil or plant.last_watered_at.days_ago + @within_watering_days.to_i >= plant.water_freq
    - plants_to_water = true
    %tr
     %td= plant[:location][:name]
     %td= plant[:plant_type]
     %td= plant[:our_name]
     %td
      %input.btn-check{type: :radio, id: "plant#{plant[:id]}-btnWaterNIL", name: "plant#{plant[:id]}", checked: true, value: ''}
      %label.btn.btn-outline-secondary.me-3{for: "plant#{plant[:id]}-btnWaterNIL"} 
       Not Checked
      .btn-group{role: :group}
       - @watering_statuses.each do |status|
        %input.btn-check{type: :radio, id: "plant#{plant[:id]}-btnWater#{status[:id]}", name: "plant#{plant[:id]}", value: status[:id]}
        %label.btn.btn-outline-primary{for: "plant#{plant[:id]}-btnWater#{status[:id]}"}
         =status[:name]
     %td
      %input{id: "note#{plant[:id]}", name: "note#{plant[:id]}"}
 - if plants_to_water
  %button.btn.btn-primary{type: :submit}
   Submit Watering Update
